.footer{
	&__content-middle{
		padding-top: 30px !important;
		min-height: auto !important;
	}

	&__content-middle-container{
		min-height: auto;
		padding: 50px 10px 30px 10px !important;
		color: rgba(255, 255, 255, 0.4);
	}

	.policies{
		a{
			color: rgba(255, 255, 255, 0.4);
		}
	}
}