.template-index{
	.c-nuestros-productos{
		.featured-collection-section__wrapper{
			padding-bottom: 0;
		}

		h3.collection-product-list__buttons__title{
			font-family: $tipografia-principal !important;
		}

		.card-information{
			.card__title{
				font-size: 30px;
			}
		}
	}
}