.template-index{
	.section-product-image-banner{
		h2.title--section{
			font-family: "Playfair Display";
		}

		.product-image-banner__text{
			font-weight: normal;
			font-size: 16px;
			line-height: 21px;
		}
	}
}